/* Font imports*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* CSS code here */
/* Main code */

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Lato", sans-serif;
}

button {
  font-family: "Lato", sans-serif;
}

/* mainText div code */
.mainText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainText p {
  font-size: x-large;
  transition: 0.5s;
}

.mainText h1 {
  transition: 0.5s;
}

.mainText hr {
  transition: 0.5s;
}

.mainText button {
  font-size: x-large;
  width: 175px;
  height: 40px;
  overflow: hidden;
  outline: none;
  background-color: #e2e2e2;
  border: 0;
  border-radius: 8px;
  transition: 0.5s;
}

.mainText button:hover {
  color: white;
  background-color: #000000;
  box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}
